:root {
  --left-sidebar-width: 300px;

  --article-font-size: 2rem;

  --link-background-opacity: 0;
  --link-background-opacity-hover: 0;
}

.main {
  padding-left: 20px;
  padding-right: 20px;
}

.left-sidebar {
  padding-left: 20px;
  padding-right: 20px;
}

